<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Quotes</title>
</head>

<body>
    <%- include("partials/sidebar") -%>
    <div class="main">
        <div style="width: 100px;float: left;">
        <h3>Search</h3>
        <div class="search" >
            <form action="/" method="post">
                <input name="ticker" type="text" style="    
                width: 50%;
                background-color: white;
                border-radius: 8px;
                border: 1px #000 solid;
                padding: 5px 5px 5px 25px;">
                <br>
                  <button type="submit" class="ticker-search">Search</button>
            </form>
         
        </div>
    </div>
        <div>

            <h1><%=quotes.price.shortName%></h1>


            <table class="'quote" style="font-size: 10px;">
                <tr>
                    <th>Current Price:</th>
                    <td><%=quotes.price.regularMarketPrice%></td>
                    <th>Previous Close:</th>
                    <td><%=quotes.summaryDetail.previousClose%></td>
                    <th>Change:</th>
                    <td><%=quotes.price.MarketChange%></td>
                    <th>Change %</th>
                    <td><%=quotes.price.MarketChangePercent%></td>
                </tr>
                <tr>
                    <th>Today's High:</th>
                    <td> <%=quotes.summaryDetail.regularMarketDayHigh%></td>
                    <th>Today's Low:</th>
                    <td><%=quotes.summaryDetail.regularMarketDayLow%></td>
                    <th>Market Time</th>
                    <td><%=quotes.summaryDetail.regularMarketTime%></td>
                    <th>Symbol</th>
                    <td><%=quotes.price.symbol%></td>
                </tr>
                <tr>
                    <th>Dividend Rate: </th>
                    <td><%=quotes.summaryDetail.dividendRate||0%></td>
                    <th>Dividend Yield:</th>
                    <td><%=quotes.summaryDetail.dividendYield||0%>
                    </td>
                    <th>Dividend Date:</th>
                    <td><%=quotes.summaryDetail.exDividendDate?.toString().substring(0,10)||0%>
                    </td>
                    <th>Payout Ratio:</th>
                    <td><%=quotes.summaryDetail.payoutRatio%>
                    </td>
                </tr>

                <tr>
                    <th>Days Short: </th>
                    <td> <% quotes.defaultKeyStatistics.shortRatio||0%></td>
                    <th>Short % of Float:</th>
                    <td><%=Math.round(quotes.defaultKeyStatistics.shortPercentOfFloat||0*1000)/10%>%</td>
                    <th></th>
                    <td><%=0%></td>
                    <th></th>
                    <td><%=0%></td>
                </tr>

                <tr>
                    <th></th>
                    <td><%=0%></td>
                    <th></th>
                    <td><%=0%></td>
                    <th></th>
                    <td><%=0%></td>
                    <th></th>
                    <td><%=0%></td>
                </tr>



            </table>





        </div>

    </div>
</body>

</html>